<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Packer Tracker</title>
    <link 
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" 
      rel="stylesheet" 
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" 
      crossorigin="anonymous">
  </head>
  <body>
    @using PackerTracker.Models;

    <h1>Packer Tracker</h1>
    <h2>Pack For Your Camping Trip!</h2>

    @if (Model.Count == 0)
    {
      <p>There are no items for your pack.</p>
    }
    <ul>
      @foreach (Food food in Model)
      {
        <li><a href='/food/@food.Id'>@food.Name</a></li>
      }
    </ul>

    <a href='/food/new'>Add new gear to pack</a>
    <br>
    <a href='/gear'>See list of all the gear you're packing</a>


  </body>
</html>